<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

    <test name="Test Android">
        <parameter name="platformName" value="Android" />
        <parameter name="model" value= "" />
        <parameter name="browserName" value="mobileOS" />
        <parameter name="location" value="NA-US-BOS-BranchTest" />
        <parameter name="platformVersion" value="" />
        <parameter name="browserVersion" value="" />
        <classes>
            <class name="com.perfecto.beat.NowCompare_Main" />
        </classes>
    </test>


</suite>